html,body,*{
    margin, padding: 0;
    box-sizing: border-box;
    font-size:10px;
}

:root{
    --primary-cool: #213b65;
    --tertiary-cool: #faeba0;
    --secondary-cool: #e33032;
    --fontcolor-cool: white;

    --primary-warm: #56202f;
    --tertiary-warm: #faf9dd;
    --secondary-warm: #cb4f3a;
    --fontcolor-warm: black;

    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
}

h1{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;

    font-size: var(--h1);
    color: var(--fontcolor);
    text-align: center;
}

p{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--h2);
    color: var(--fontcolor);
}

body{
    background-color: var(--primary);
}

.warm{
    --primary: var(--primary-warm);
    --tertiary: var(--tertiary-warm);
    --secondary: var(--secondary-warm);
    --fontcolor: var(--fontcolor-warm);
}

.cool{
    --primary: var(--primary-cool);
    --tertiary: var(--tertiary-cool);
    --secondary: var(--secondary-cool);
    --fontcolor: var(--fontcolor-cool);
}