html,body,*{
    margin: padding 0;
    box-sizing: border-box;
    font-size:10px;
}

:root{
    --primary-cool: #ffffff;
    --tertiary-cool: #292323;
    --secondary-cool: #829bb3;
    --fontcolor-cool: black;
    --h1color-cool: black;


    --primary-warm: #56202f;
    --tertiary-warm: #faf9dd;
    --secondary-warm: #cb4f3a;
    --fontcolor-warm: black;
    --h1color-warm: white;

    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
}

h1{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;

    font-size: var(--h1);
    color: var(--h1color);
    text-align: center;
}

p{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--h4);
    line-height: 0.6;
}

h2{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--h2);
    color: var(--fontcolor);
    text-align: center;
    margin-top: 0.5rem;
}

body{
    background-color: var(--primary);
}

#app{
    background-color: var(--primary);
    border: var(--secondary);
    border-radius: 2rem;
    border-width: 1.5rem;

    width: 85vw;
    height: auto;

    margin-top: 5rem;
    margin: auto;

    padding: 1rem;

    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
}

#weapon-cont{
    background-color: var(--tertiary);
    border: var(--secondary);
    border-radius: 2rem;
    border-width: 1.5rem;

    width: 85vw;
    height: auto;

    margin-top: 5rem;
    margin: auto;

    padding: 4rem;

    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
}

.weapon-item{
    flex: 28%; 
    max-width: 28%; 
    min-width: 35rem;
    height: 50rem;
    box-sizing: border-box; 

    border: var(--primary);
    background-color: var(--secondary);    
    border-radius: 1rem;
    box-shadow: 0 4px 8px black;

    margin: auto; 
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
  
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--h2);
    color: white;

    background-color: var(--tertiary); 
    border-radius: 0.5rem;
   
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 5%;
}


#weapons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.warm{
    --primary: var(--primary-warm);
    --tertiary: var(--tertiary-warm);
    --secondary: var(--secondary-warm);
    --fontcolor: var(--fontcolor-warm);
    --h1color: var(--h1color-warm);
}

.cool{
    --primary: var(--primary-cool);
    --tertiary: var(--tertiary-cool);
    --secondary: var(--secondary-cool);
    --fontcolor: var(--fontcolor-cool);
    --h1color: var(--h1color-color);
}

button:hover{
    transition-duration: 0.2s;
    transform: scaleY(1.2);
}
  
button:active{
    transition-duration: 0.2s;
    background-color: goldenrod;
    transform: scaleX(1.2);
}

.weapon-item:hover {
    animation: transform 2.25s ease-in-out;
}

@keyframes rotateScale {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.075) rotate(20deg);
    }
    50% {
        transform: scale(1.1) rotate(-20deg);
    }
    75% {
        transform: scale(1.15) rotate(20deg);
    }
    100% {
        transform: scale(1);
    }
}


